#articles {
  display: grid;
  gap: 1.5rem;
}
#articles .list {
  display: grid;
  gap: 1.5rem;
}
#articles .list .card {
  border: 1px solid #acacac;
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  justify-content: stretch;
}
@media (min-width: 800px) {
  #articles .list .card {
    grid-auto-flow: column;
  }
}
#articles .list .card .cover-photo {
  overflow: hidden;
}
#articles .list .card .cover-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#articles .list .card .view {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}
#articles .list .card .view header {
  display: grid;
  gap: 0.3rem;
}
#articles .list .card .view header h1 {
  color: orange;
  font-size: 1.3rem;
}
#articles .list .card .view header .info {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-content: start;
  color: #acacac;
  font-size: 0.8rem;
}
#articles .list .card .view .snippet {
  color: #444;
  text-align: justify;
  align-items: start;
  display: grid;
  gap: 1rem;
}
#articles .list .card .view .snippet .btn {
  text-decoration: none;
  padding: 0.3rem 1rem;
  border: 2px solid orange;
  justify-self: start;
  font-size: 0.9rem;
  transition: 0.5s;
  font-weight: 500;
  color: orange;
}
#articles .list .card .view .snippet .btn:hover {
  border-color: dodgerblue;
  color: dodgerblue;
}
#articles .list .card .view footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 1rem;
  color: #acacac;
  font-size: 0.9rem;
}
#articles .list .card .view footer .likes .fa-thumbs-up {
  color: greenyellow;
}
#articles .list .card .view footer .dislikes .fa-thumbs-down {
  color: red;
}