@import "colors.scss";

#articles {
    display: grid;
    gap: 1.5rem;

    h1 {}
    .list { 
        display: grid;
        gap: 1.5rem;

        .card {
            border: 1px solid #acacac;
            display: grid;
            gap: 1rem;
            grid-auto-flow: row;
            justify-content: stretch;

            @media(min-width: 800px) {
                grid-auto-flow: column;
            }

            .cover-photo {
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .view {
                padding: 1.5rem;
                display: grid;
                gap: 1rem;

                header {
                    display: grid;
                    gap: .3rem;
    
                    h1 {
                        color: $color01;
                        font-size: 1.3rem;
                    }
                    .info {
                        display: grid;
                        grid-auto-flow: column;
                        gap: .5rem;
                        justify-content: start;
                        color: #acacac;
                        font-size: .8rem;
    
                        .author {}
                        .datetime {}
                    }
                }
                .snippet {
                    color: #444;
                    text-align: justify;
                    align-items: start;
                    display: grid;
                    gap: 1rem;

                    .btn {
                        text-decoration: none;
                        padding: .3rem 1rem;
                        border: 2px solid $color01;
                        justify-self: start;
                        font-size: .9rem;
                        transition: .5s;
                        font-weight: 500;
                        color: $color01;

                        &:hover {
                            border-color: $color02;
                            color: $color02;
                        }
                    }
                }
                footer {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: end;
                    gap: 1rem;
                    color: #acacac;
                    font-size: .9rem;
    
                    .likes {
                        .fa-thumbs-up {
                            color: greenyellow;
                        }
                    }
                    .dislikes {
                        .fa-thumbs-down {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}