@import "colors.scss";

#blogers {
    display: grid;
    gap: 1.5rem;

    h1 {}
    .list {
        display: grid;
        gap: 2rem;

        @media(min-width: 650px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .card {
            box-shadow: 0 0 5px rgba(0,0,0,.5);
            transition: .5s;
            display: grid;
            gap: 1rem;
            
            &:hover {
                transform: scale(1.03);    
            }
            
            .personal {
                display: grid;
                justify-content: center;
                gap: .5rem;
                padding: 1rem 2rem;
                padding-bottom: 0;

                .cover-photo {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 0 0 5px rgba(0,0,0,.5);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .name {
                    color: $color01;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            .motto {
                color: #acacac;
                text-align: center;
                font-style: italic;
                font-size: .9rem;
                padding: 0 1rem;
            }
            .socials {
                display: grid;
                grid-auto-flow: column;
                border-top: 1px solid #acacac;
                justify-content: stretch;

                a {
                    display: inline-block;
                    text-align: center;
                    padding: 1rem;
                    text-decoration: none;
                    font-size: 1.3rem;
                    color: #acacac;
                    position: relative;
                    transition: .5s;

                    &:nth-child(2) {
                        border-left: 1px solid #acacac;
                        border-right: 1px solid #acacac;
                    }

                    &.fa:hover {
                        color: white;
                    }

                    &.fa-facebook:hover {
                        background-color: $facebookColor;
                    }
                    &.fa-twitter:hover {
                        background-color: $twitterColor;
                    }
                    &.fa-youtube-play:hover {
                        background-color: $youtubeColor;
                    }
                }
            }
        }
    }
} 