#blogers {
  display: grid;
  gap: 1.5rem;
}
#blogers .list {
  display: grid;
  gap: 2rem;
}
@media (min-width: 650px) {
  #blogers .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  #blogers .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
#blogers .list .card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  display: grid;
  gap: 1rem;
}
#blogers .list .card:hover {
  transform: scale(1.03);
}
#blogers .list .card .personal {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  padding-bottom: 0;
}
#blogers .list .card .personal .cover-photo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#blogers .list .card .personal .cover-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blogers .list .card .personal .name {
  color: orange;
  font-size: 1.2rem;
  font-weight: 500;
}
#blogers .list .card .motto {
  color: #acacac;
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  padding: 0 1rem;
}
#blogers .list .card .socials {
  display: grid;
  grid-auto-flow: column;
  border-top: 1px solid #acacac;
  justify-content: stretch;
}
#blogers .list .card .socials a {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #acacac;
  position: relative;
  transition: 0.5s;
}
#blogers .list .card .socials a:nth-child(2) {
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac;
}
#blogers .list .card .socials a.fa:hover {
  color: white;
}
#blogers .list .card .socials a.fa-facebook:hover {
  background-color: #3b5998;
}
#blogers .list .card .socials a.fa-twitter:hover {
  background-color: #00acee;
}
#blogers .list .card .socials a.fa-youtube-play:hover {
  background-color: #c4302b;
}