@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body, input, textarea, button {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

input, textarea, button {
  padding: 0.5rem;
}

#app {
  font-size: 1rem;
}

h1 {
  color: dodgerblue;
}