@import "colors.scss";

#app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    #header-app {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 1rem;
        padding: 1rem 2rem;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);

        @media(min-width: 500px) {
            grid-auto-flow: column;
            justify-content: space-between;
        }

        .logo {
            .fa-buysellads {
                color: $color02;
                font-size: 2rem;
                transition: .5s;

                &:hover {
                    color: $color01;
                }
            }
        }
        nav {
            display: grid;
            grid-auto-flow: column;
            gap: 1rem;

            a {
                color: $color01;
                text-decoration: none;
                transition: .5s;

                &:hover {
                    color: $color02;
                }
            }
        }
    }
    main {
        display: grid;
        gap: 2rem;
        padding: 1.5rem;
    }
    #footer-app {
        padding: 1.5rem;
        display: grid;
        grid-auto-flow: row;
        justify-content: space-around;
        gap: 2rem;
        background: #444;

        @media(min-width: 600px) {
            grid-auto-flow: column;
        }

        .title {
            color: white;
            font-weight: 500;
        }
        .newsletter {
            form {
                input {
                    border: 1px solid white;
                }
                button {
                    border: 2px solid white;
                    color: white;
                    background: none;
                    transition: .5s;
    
                    &:hover {
                        background: white;
                        color: #444;
                        cursor: pointer;
                    }
                }
            }
        }
        .socials {
            .links {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 1rem;

                .fa {
                    border: 3px solid white;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    color: white;
                    text-decoration: none;
                    transition: .5s;

                    &:hover {
                        cursor: pointer;
                    }
                }
                .fa-facebook:hover  {
                    color: $facebookColor;
                    border-color: $facebookColor;
                }
                .fa-twitter:hover  {
                    color: $twitterColor;
                    border-color: $twitterColor;
                }
                .fa-youtube-play:hover  {
                    color: $youtubeColor;
                    border-color: $youtubeColor;
                }
            }
        }
        .newsletter, .socials {
            display: grid;
            gap: 1rem;
        }
    }
}