#app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#app #header-app {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
@media (min-width: 500px) {
  #app #header-app {
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
#app #header-app .logo .fa-buysellads {
  color: dodgerblue;
  font-size: 2rem;
  transition: 0.5s;
}
#app #header-app .logo .fa-buysellads:hover {
  color: orange;
}
#app #header-app nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}
#app #header-app nav a {
  color: orange;
  text-decoration: none;
  transition: 0.5s;
}
#app #header-app nav a:hover {
  color: dodgerblue;
}
#app main {
  display: grid;
  gap: 2rem;
  padding: 1.5rem;
}
#app #footer-app {
  padding: 1.5rem;
  display: grid;
  grid-auto-flow: row;
  justify-content: space-around;
  gap: 2rem;
  background: #444;
}
@media (min-width: 600px) {
  #app #footer-app {
    grid-auto-flow: column;
  }
}
#app #footer-app .title {
  color: white;
  font-weight: 500;
}
#app #footer-app .newsletter form input {
  border: 1px solid white;
}
#app #footer-app .newsletter form button {
  border: 2px solid white;
  color: white;
  background: none;
  transition: 0.5s;
}
#app #footer-app .newsletter form button:hover {
  background: white;
  color: #444;
  cursor: pointer;
}
#app #footer-app .socials .links {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 1rem;
}
#app #footer-app .socials .links .fa {
  border: 3px solid white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
#app #footer-app .socials .links .fa:hover {
  cursor: pointer;
}
#app #footer-app .socials .links .fa-facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
}
#app #footer-app .socials .links .fa-twitter:hover {
  color: #00acee;
  border-color: #00acee;
}
#app #footer-app .socials .links .fa-youtube-play:hover {
  color: #c4302b;
  border-color: #c4302b;
}
#app #footer-app .newsletter, #app #footer-app .socials {
  display: grid;
  gap: 1rem;
}